In [1]:
import pandas as pd

In [ ]:
users = pd.read_csv('../datasets/users.csv')
casinodaily = pd.read_csv('../datasets/casinodaily.csv')
manufacturers = pd.read_csv('../datasets/casinomanufacturers.csv')
providers = pd.read_csv('../datasets/casinoproviders.csv')
currencyrates = pd.read_csv('../datasets/currencyrates.csv')

In [13]:
casinodaily.head(20)

,UserID,CountryId,CurrencyId,Date,CasinoGameId,CasinoProviderId,CasinoManufacturerId,GGR,Returns
0,bo0Ykz7Nn7,106,15,2025-03-10,149671,110,101,32.411080,17.330133
1,1LbgZSf9Pz,106,15,2025-03-10,1192,21,2,70.529403,20.141626
2,icpWDuiljz,106,15,2025-03-10,17450,150,42,1.022822,1.716777
3,cJKkhthQ67,106,15,2025-03-10,15893,110,61,-25.228250,1035.080020
4,bs1jduSrAT,106,15,2025-03-10,166141,21,133,6.115386,16.613069
5,gNUus9HboE,106,15,2025-03-10,16521,21,151,-10.978345,125.273963
6,3Q6PtY0nOx,106,15,2025-03-10,149673,21,96,2.374548,8.007151
7,Xlod9GzDI2,106,15,2025-03-10,164960,150,42,1.528384,0.069696
8,HD8fEgVnPP,106,15,2025-03-10,164960,150,42,0.026586,0.437634
9,IFkJGFyMTi,106,15,2025-03-10,149725,21,120,1.132348,2.540670
10,nY10vqN4GA,106,15,2025-03-10,151018,21,160,108.811714,99.551403
11,oRLwURJoH9,106,15,2025-03-10,16664,70,6,1.130111,2.575520
12,R3uTjPrHID,106,15,2025-03-10,166032,160,90,108.449602,16.060565
13,eKk46buAdz,106,15,2025-03-10,150500,70,6,-8.856808,24.306534
14,ucCE05bzpm,106,15,2025-03-10,154335,21,2,1.131727,0.586961
15,QEGFFx8NNK,106,15,2025-03-10,21299,150,42,4.794912,1116.121757
16,74JJk6ZQV4,106,15,2025-03-10,23093,21,151,70.999937,80.333004
17,CyAeR31waS,106,15,2025-03-10,13653,21,149,-268.929986,538.950035
18,9cLCLrVa3h,106,15,2025-03-10,151075,150,42,10.277166,1.159712
19,cJKkhthQ67,106,15,2025-03-10,23870,150,42,3.527429,38.702297

In [3]:
users.head()

    UserID     user_id   BirthDate Sex   VIPStatus Country  CountryID
0  5762754  vFFv24LBfv  1989-05-02   F  Potential      NZD        106
1  5778624  uoqSXzqFy1  1991-10-04   F     NOT vip     NZD        106
2  5610434  3lZ5PE5f7F  1994-09-06   F     NOT vip     NZD        106
3  4523919  JPikNnu1o7  1991-10-11   M    Bronz E      NZD        106
4  4564697  pIrSKY0nZu  1991-03-06   M    Bronz E      NZD        106

In [9]:
manufacturers.head(20)

                                                                                                            CasinoManufacturerId,"CasinoManufacturerName","FromDate","ToDate","LatestFlag"
1                                         Viaden           2019-11-15 09:11:32.287 NaN                                                                    1.0
2                                         MicroGaming      2019-11-15 09:11:32.287 2024-04-16 06:11:35.627                                                0.0
                                          Micro Gaming     2024-04-16 06:11:35.627 NaN                                                                    1.0
3                                         Evolution        2020-06-16 09:41:29.923 NaN                                                                    1.0
4                                         ScientificGames  2019-11-15 09:11:32.287 2024-04-11 06:51:11.840                                                0.0
                                          Scientific Games 2024-04-11 06:51:11.840 NaN                                                                    1.0
5                                         NetEnt           2019-11-15 09:11:32.287 NaN                                                                    1.0
6                                         PlayTech         2019-11-15 09:11:32.287 NaN                                                                    1.0
7                                         PlayNGo          2019-11-15 09:11:32.287 NaN                                                                    1.0
8                                         Amatic           2019-11-15 09:11:32.287 NaN                                                                    1.0
9                                         IGT              2019-11-15 09:11:32.287 NaN                                                                    1.0
10                                        Magnet           2019-11-15 09:11:32.287 NaN                                                                    1.0
11                                        TomHorn          2019-11-15 09:11:32.287 2024-04-03 12:51:13.803                                                0.0
                                          Tom Horn         2024-04-03 12:51:13.803 NaN                                                                    1.0
12                                        Yggdrasil        2019-11-15 09:11:32.287 NaN                                                                    1.0
13                                        PariPlay         2019-11-15 09:11:32.287 2021-12-14 10:51:34.073                                                0.0
                                          WizardGames      2021-12-14 10:51:34.073 2024-04-07 22:35:18.623                                                0.0
                                          Wizard Games     2024-04-07 22:35:18.623 NaN                                                                    1.0
14                                        Playson          2019-11-15 09:11:32.287 NaN                                                                    1.0
15,"1X2Gaming",2019-11-15 09:11:32.287,,1 NaN              NaN                     NaN                                                                    NaN

In [11]:
providers.head(20)

    CasinoProviderId CasinoProviderName
0                 15             Viaden
1                 21        MicroGaming
2                 21        GamesGlobal
3                 30          Evolution
4                 40    ScientificGames
5                 60             NetEnt
6                 70           PlayTech
7                 80            Iforium
8                100              Edict
9                110                Nyx
10               110     LightAndWonder
11               120            PlayNGo
12               130           RedTiger
13               140            Skywind
14               150      PragmaticPlay
15               160               Oryx
16               170            Betixon
17               180        EveryMatrix
18               190    EvolutionDirect
19               200               Fazi

In [12]:
currencyrates.head(20)

          Date  FromCurrencyId  ToCurrencyId ToCurrencySysname  EuroRate
0   2025-01-03               2            15               NZD  0.544484
1   2025-01-02               2            15               NZD  0.543419
2   2025-01-01               2            15               NZD  0.539607
3   2025-01-06               2            15               NZD  0.544840
4   2025-01-05               2            15               NZD  0.544484
5   2025-01-04               2            15               NZD  0.544484
6   2025-01-09               2            15               NZD  0.542977
7   2025-01-08               2            15               NZD  0.543981
8   2025-01-07               2            15               NZD  0.545941
9   2025-01-10               2            15               NZD  0.541888
10  2025-01-11               2            15               NZD  0.541888
11  2025-01-12               2            15               NZD  0.541888
12  2025-01-13               2            15               NZD  0.541888
13  2025-01-14               2            15               NZD  0.545732
14  2025-01-15               2            15               NZD  0.544040
15  2025-01-16               2            15               NZD  0.544040
16  2025-01-17               2            15               NZD  0.542446
17  2025-01-18               2            15               NZD  0.542446
18  2025-01-19               2            15               NZD  0.542446
19  2025-01-20               2            15               NZD  0.542446